/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --red: hsl(0, 91%, 63%);
  --orange: hsl(13, 95%, 66%);
  --yellow: hsl(42, 91%, 68%);
  --green: hsl(127, 100%, 82%);
  --almost-white: hsl(252, 11%, 91%);
  --grey: hsl(251, 9%, 53%);
  --dark-grey: hsl(248, 10%, 15%);
  --very-dark-grey: hsl(248, 15%, 11%);

  --green: rgb(163, 255, 174);
}

body {
  font-family: "JetBrains Mono", system-ui;
  background-color: var(--very-dark-grey);
  color: var(--almost-white);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: var(--almost-white);
  font-size: 1rem;
  margin: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.generated-password {
  font-size: 1.2rem;
}

.user-pw-section,
.generate-pw-section {
  min-width: 300px;
  background-color: var(--dark-grey);
  padding: 1em;
}

/* USER PASSWORD SECTION */
.user-pw-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.copy-icon {
  cursor: pointer;
}

.copy-icon path {
  transition: fill 0.5s ease;
}

.copy-icon:hover path {
  fill: #a4ffaf;
}

/* GENERATE PASSWORD SECTION -- EXCEPT CHECKBOXES (see checkbox section separately below*/
.char-length-wrapper {
  display: flex;
  justify-content: space-between;
}

.char-number {
  color: var(--green);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.char-range {
  width: 100%;
  margin-bottom: 1em;
  accent-color: var(--green);
  cursor: pointer;
}

.strength-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--very-dark-grey);
  padding: 1.5em;
  margin: 1.5em 0;
}

.strength-title {
  text-transform: uppercase;
  color: var(--almost-white);
  font-size: 0.8rem;
}

.strength-img-meter {
  height: 18px;
}

.dynamic-strength-title {
  color: var(--almost-white);
  text-transform: uppercase;
  font-size: 1rem;
}

.generate-btn {
  height: 4.0625em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5em;
  background-color: var(--green);
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid transparent;
  transition: all 0.5s ease;
  cursor: pointer;
}

.generate-btn img {
  margin-left: 0.5em;
}

.generate-btn:hover {
  background-color: var(--very-dark-grey);
  color: var(--green);
  border: 2px solid var(--green);
}

/* CHECKBOX HANDLING  */
.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  /* labels are by default inline elements */
  display: inline-block;
  color: var(--almost-white);
  line-height: 25px;
}

/* the box around the checkmark  */
[type="checkbox"] + label::before {
  content: " ";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid var(--almost-white);
  top: 50%;
  left: 2px;
  background-color: transparent;
  transform: translateY(-50%);
  transition: all 0.1s ease;
}

[type="checkbox"] + label:hover::before {
  border: 2px solid var(--green);
  background-color: rgba(163, 255, 174, 0.1);
}

/* the checkmark itself  */
[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("assets/images/icon-check.svg");
  background-size: cover;
  height: 14px;
  width: 14px;
  background-color: var(--green);
  border: 2px solid var(--green);
}

/* STATE HANDLING FOR JAVASCRIPT INTERACTIVITY */
/* Error state for generated password */
.generated-password.error {
  color: var(--red);
  /* font-size: 1.1rem; */
}

/* Copied state for generated password */
.generated-password.copied {
  color: #a4ffaf;
}

/* MEDIA QUERY */
@media (width >= 768px) {
  .user-pw-section,
  .generate-pw-section {
    min-width: 540px;
    padding: 2em;
  }

  .strength-img {
    height: 20px;
  }
}
